.aboutDiv {
    height: auto;
    background-image: linear-gradient(165deg, steelblue 65%, whitesmoke 65.5%, transparent 50%);
}

.aboutDiv h1 {
    color: white;
    text-align: center;
    margin-bottom: 0;
}

.innerAboutDiv {
    display: flex;
    align-items: center;
    margin: 20px 40px;
}

.innerAboutDiv img {
    max-width: 400px;
    box-shadow: 2px 2px 4px rgb(134, 134, 134);
    border-radius: 4px;
}

.aboutButtonDiv img {
    box-shadow: 0 0 0 white;
}

.aboutInfoDiv {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
    min-height: 330px;
    background-color: white;
    box-shadow: 3px 3px 8px rgb(189, 189, 189);
}

.aboutInfoDiv p {
    font-family: "Roboto Condensed";
    color: rgb(70, 70, 70);
}

.aboutButtonDiv {
    display: flex;
    
}

.aboutButtonDiv a {
    background-color: transparent;
    border: 0;
    margin-left: 16px;
}

.aboutButtonDiv a:first-child {
    margin-left: auto;
}

.aboutButtonDiv a img {
    width: 32px;
}

@media (max-width: 940px) {
    .innerAboutDiv img {
        max-width: 300px;
    }
    .aboutInfoDiv {
        height: auto;
        min-height: 0px;
    }
}

@media (max-width: 680px) {
    .innerAboutDiv {
        flex-direction: column;
        height: auto;
    }
}
