.aboutDiv {
    height: auto;
    width: 100%;
    border: 2px solid green;
}

.innerAboutDiv {
    display: flex;
    border: 2px solid lime;
    height: 100%;
    width: 100%;
    align-items: center;
}

.innerAboutDiv img {
    width: 400px;
}

.aboutInfoDiv {
    border: 2px solid olive;
    padding-left: 12px;
    padding-right: 12px;
    height: 75%;
    background-color: white;
}

.aboutInfoDiv p {
    font-family: "Roboto Condensed";
    color: rgb(70, 70, 70);
}

.aboutButtonDiv {
    display: flex;
    
}

.aboutButtonDiv a {
    background-color: transparent;
    border: 0;
    margin-left: 16px;
}

.aboutButtonDiv a:first-child {
    margin-left: auto;
}

.aboutButtonDiv a img {
    width: 32px;
}
