.aboutDiv {
    height: auto;
    width: 100%;
    margin-top: 32px;
    background-image: linear-gradient(165deg, steelblue 65%, whitesmoke 65.5%, transparent 50%);
}

.innerAboutDiv {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    height: 440px;
}

.innerAboutDiv img {
    max-width: 400px;
}

.aboutInfoDiv {
    padding-left: 12px;
    padding-right: 12px;
    height: 75%;
    background-color: white;
    box-shadow: 3px 3px 8px rgb(189, 189, 189);
}

.aboutInfoDiv p {
    font-family: "Roboto Condensed";
    color: rgb(70, 70, 70);
}

.aboutButtonDiv {
    display: flex;
    
}

.aboutButtonDiv a {
    background-color: transparent;
    border: 0;
    margin-left: 16px;
}

.aboutButtonDiv a:first-child {
    margin-left: auto;
}

.aboutButtonDiv a img {
    width: 32px;
}
