.appDiv {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    border: 2px solid black;
    max-width: 1200px;
    margin: 0 40px;
    margin-top: 20px;
}

.workH2 {
    margin-bottom: 0;
    margin-right: auto;
}

