.contactDiv {
    background-color: steelblue;
    display: flex;
}

.contactDiv p {
    color: white;
    font-family: "Roboto Condensed";
    margin-top: 0;
}

.contactDiv h2 {
    font-size: 24px;
    font-family: "Playfair Display";
    color: white;
    margin-top: 8px;
    margin-left: 0;
}

.addressDiv {
    margin-bottom: 20px;
}

.addressDiv p {
    margin-bottom: 0;
}

.contactInfoDiv {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-left: 40px;
}

.contactImgDiv img {
    width: 450px;
    margin: 24px 40px;
    border-radius: 4px;
}

.phoneInfo {
    display: flex;
    align-items: center;
}

.phoneInfo img {
    width: 24px;
}

.phoneInfo span {
    color: white;
    margin-left: 16px;
}

.emailInfo {
    display: flex;
    align-items: center;
}

.emailInfo img {
    width: 24px;
}

.emailInfo span {
    color: white;
    margin-left: 16px;
}

.personalWebsiteIcons {
    display: flex;
    margin-top: 12px;
}

.personalWebsiteIcons img {
    width: 28px;
    margin-right: 16px;
}

@media (max-width: 940px) {
    .contactImgDiv img {
        max-width: 350px;
    }
}