.contactDiv {
    width: 100%;
    border: 2px solid blue;
    background-color: steelblue;
    display: flex;
}

.contactDiv p {
    color: white;
    font-family: "Roboto Condensed";
    margin-top: 0;
}

.contactDiv h2 {
    font-size: 24px;
    font-family: "Playfair Display";
    color: white;
    margin-top: 8px;
}

.addressDiv {
    margin-bottom: 20px;
}

.addressDiv p {
    margin-bottom: 0;
}

.contactInfoDiv {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-top: 16px;
}

.contactImgDiv img {
    width: 500px;
    margin: 24px 48px;
}

.phoneInfo {
    display: flex;
    align-items: center;
}

.phoneInfo img {
    width: 24px;
}

.phoneInfo span {
    color: white;
    margin-left: 16px;
}

.emailInfo {
    display: flex;
    align-items: center;
}

.emailInfo img {
    width: 24px;
}

.emailInfo span {
    color: white;
    margin-left: 16px;
}

.personalWebsiteIcons {
    display: flex;
    margin-top: 12px;
}

.personalWebsiteIcons img {
    width: 28px;
    margin-right: 16px;
}