@font-face {
  font-family: "Playfair Display";
  src: url(../fonts/playfair-display/PlayfairDisplay-Regular.ttf)
}

@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/roboto-condensed/RobotoCondensed-Regular.ttf)
}

h1 {
  font-family: "Playfair Display", serif;
}

h2 {
  font-family: "Playfair Display", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
}
