.workGridDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-bottom: 48px;
    margin-left: 40px;
    margin-right: 40px;
}

h2 {
    margin-bottom: 0;
    margin-left: 40px;
}

.workDiv {
    width: 100%;
}

.workCardDiv {
    height: 360px;
    display: grid;
    grid-template-rows: 3fr 2fr;
    box-shadow: 3px 3px 8px rgb(189, 189, 189);
}

.wcdScreenshot {
    background-color: steelblue;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wcdScreenshot span {
    color: white;
    font-size: 24px;
}

.wcdDesc {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;
}

.wcdDescHeader {
    display: flex;
    align-items: center;
}

.imgHyperlink {
    margin-left: auto;
}

.wcdDescHeader a {
    margin-right: 6px;
}

.wcdDescHeader img {
    width: 24px;
}

.wcdDescText {
    font-family: "Roboto Condensed";
    color: rgb(70, 70, 70);
}

.wcdDescText p {
    margin-top: 0;
}